<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/logo.svg" alt="eth-wallet">
    <span>区块链钱包</span>
  </a>

  <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="home.toggleMenu($event)">
    <i class="pi pi-bars"></i>
  </a>

  <div class="layout-topbar-menu">
    <a href="#" class="p-link layout-topbar-button">
      <i class="pi pi-calendar"></i>
      <span>Calendar</span>
    </a>
    <a href="#" class="p-link layout-topbar-button">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </a>
    <a href="#" class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </a>
  </div>
</div>
